
body {
    margin: 0;
    padding: 0;
    background-image: url('resources/peakpx.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.entryScreen,
.game {
    padding:20px;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}
.logoFirst{
    width:60%;
    height: auto;
    padding-top:6%;
    margin-bottom: 4%;
    margin-left: 6%;
}
.btn{
    display: block;
    margin-left: 48%;
    height: 7%;
    width: 10%;
    font-size: 15px;
    background-color: white;
    border: 3px solid white;
    border-radius: 30px;
}
.btn:hover{
    transition: 0.5s;
    background-color: rgb(23, 84, 114);
    color: white;
}
.modalmenu{
    
    border: 8px solid white;
    border-radius: 30px;
    width:35%;
    height:65%;
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
}
.modalmenu:hover{
    transition:0.5s;
    width: 38%;
    height: 68%;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.removed {
    display: none;
}