*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

body{
    background-image: url(/resources/peakpx.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; 
    max-height: 100vh;
    background-color: #1b6886;
}

.container{
    display: block;
    margin-left:21%;
    margin-top:30px;
    margin-bottom: auto;
    max-width: 100vh;
    max-height: 100vh; 
}
.logoBox{
    
}
#logoFirst{
    height: 70%;
   display:block;
   margin-right: 3%;
}
button,btn{
    height: 10%;
    width: 20%;
    display:block;
    margin-top:10%;
    margin-left: 44%;
    border: 10px solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-family: coolvetica;
    font-size: 30px;
}
button:hover{
    transition: 1s;
    background-color: white;
    color:#1b6886;
}
.hidden{
    display: none;
}

